@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
  @apply bg-neutral;
}

body {
  font-family: 'Open Sans', 'Poppins';
  font-size: 16px; /* This is the default font size for the Tailwind config */
  /* @apply text-neutral; */
  margin: 0;
  padding: 0;
  line-height: 1.5;
  /* background-image: url('../assets/images/city-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

/* Navbar */
.active-link {
  color: #FFA500; /* This is the primary color from your Tailwind config */
}

.nav-link {
  color: #FFA500;
}

.main{
  height: calc(100vh - 4rem);;
}

.hero-text::before, .hero-text::after{
  content: '';
    display: block;
    width: 0;
    height: 2px;
    align-content: center;                         
    width: 100%;
    margin-top: 0.5rem;
    background: linear-gradient(to bottom, theme('colors.white'), theme('colors.primary'));
    box-shadow: 0 1px 4px rgba(17, 45, 172, 0.3);
}

.hero{
    position: relative;
    display: flex;
    justify-content: flex-end; /* aligns the hexagons to the right */
    align-items: center;

    /* width: calc(200px + 17vw); */
    height: auto; /* auto height means that the height will be calculated based on the width */
    background-color: none;
} 